In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from pathlib import Path

In [3]:
SIMULATION_OUTPUT="/mnt/Archivos/Nextcloud/MaestriaPUCP/Thesis/development/project"

In [4]:
RELATIVE_ADEXL_FOLDER="tesis_2020/sar_architecture_cm_differential_v2_sim_neural/adexl/documents"
files_summary = ["Interactive.0.csv"]

In [5]:
files_summary_paths = [ Path(SIMULATION_OUTPUT)/RELATIVE_ADEXL_FOLDER/ file_name for file_name in files_summary]

In [6]:
import pandas as pd

In [7]:
def get_df(filepath):
    df = pd.read_csv(filepath, comment='"', header=0)
    return df

In [8]:
df = get_df(files_summary_paths[0])
df.head()

,Point,Test,Output,Nominal,Spec,Weight,Pass/Fail
0,1,tesis_2020:sar_architecture_cm_differential_v2...,/Vin,NaN,NaN,NaN,NaN
1,1,tesis_2020:sar_architecture_cm_differential_v2...,/START_n,NaN,NaN,NaN,NaN
2,1,tesis_2020:sar_architecture_cm_differential_v2...,/CLK,NaN,NaN,NaN,NaN
3,1,tesis_2020:sar_architecture_cm_differential_v2...,/OUT<7>,NaN,NaN,NaN,NaN
4,1,tesis_2020:sar_architecture_cm_differential_v2...,/OUT<6>,NaN,NaN,NaN,NaN

In [9]:
def extract_parameter(line):
    return line.split(",")[0].strip("\"").split("=")[1].strip("\"")

def extract_index_number(line):
    return int(line.split(",")[0])

In [10]:
def get_metadata_dict(filepath):    
    meta_list=[]
    with open(filepath,'r') as f:
        savenext=False
        meta_pair=[]
        for line in f:
            if(savenext):
                meta_pair.append(extract_index_number(line))
                meta_list.append(meta_pair)
                savenext=False
                continue
            if(line.startswith("\"")):
                meta_pair=[extract_parameter(line)]
                savenext=True

    l=list(zip(*meta_list))
    l.reverse()
    return dict(zip(*l))

In [11]:
def process_file(filepath):
    df = get_df(filepath)
    map_point_to_filename = get_metadata_dict(filepath)
    df["filename"]=df["Point"].map(map_point_to_filename)
    return df

In [12]:
df_list =[ process_file(filepath) for filepath in files_summary_paths]

In [13]:
ndf = pd.concat(df_list)

In [14]:
ndf.dropna(subset=["Nominal"],inplace=True)

In [15]:
from quantiphy import Quantity

In [16]:
sdf = ndf.groupby("Output").agg({"Nominal":"mean"}).reset_index()
sdf.drop(sdf.loc[sdf["Output"].isin(["t_start","t_interval","t_stop"])].index,inplace=True)
sdf["Nominal"]=sdf["Nominal"].apply(lambda x: str(Quantity(x)))
sdf

                       Output  Nominal
0  Average_current_comparator  61.741n
1         Average_current_dac  8.0783n
2       Average_current_logic  350.15n
3    Average_current_register  4.1345n
4       Average_current_total  468.24n
5         Average_power_total  560.69n

In [17]:
text=sdf.to_latex(index=False)
print(text)

\begin{tabular}{ll}
\toprule
                    Output & Nominal \\
\midrule
Average\_current\_comparator & 61.741n \\
       Average\_current\_dac & 8.0783n \\
     Average\_current\_logic & 350.15n \\
  Average\_current\_register & 4.1345n \\
     Average\_current\_total & 468.24n \\
       Average\_power\_total & 560.69n \\
\bottomrule
\end{tabular}

/tmp/ipykernel_10908/4255117356.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  text=sdf.to_latex(index=False)

In [18]:
RELATIVE_ADEXL_FOLDER="tesis_2020/lcadc_architecture_comp_single_stage_reset_bias_sim_neural/adexl/documents/"
files_summary = ["Interactive.0.csv"]

In [19]:
files_summary_paths = [ Path(SIMULATION_OUTPUT)/RELATIVE_ADEXL_FOLDER/ file_name for file_name in files_summary]

In [20]:
df_list =[ process_file(filepath) for filepath in files_summary_paths]
ndf = pd.concat(df_list)
ndf.dropna(subset=["Nominal"],inplace=True)
sdf=ndf.groupby("Output").agg({"Nominal":"mean"}).reset_index()
sdf.drop(sdf.loc[sdf["Output"].isin(["t_start","t_interval","t_stop"])].index,inplace=True)
sdf["Nominal"]=sdf["Nominal"].apply(lambda x: str(Quantity(x)))
sdf

                              Output  Nominal
0      average_current_comparator_cc  164.44n
1      average_current_comparator_cr   257.3n
2   average_current_comparator_reset  252.56n
3            average_current_counter  4.5026n
4                average_current_dac  202.31p
5          average_current_logic_dac  696.76p
6          average_current_logic_rlc    73.4n
7    average_current_logic_rlc_reset  51.721n
8        average_current_multiplexer  34.328p
9              average_total_current  810.47n
10               average_total_power  972.54n

In [21]:
text=sdf.to_latex(index=False)
print(text)

\begin{tabular}{ll}
\toprule
                          Output & Nominal \\
\midrule
   average\_current\_comparator\_cc & 164.44n \\
   average\_current\_comparator\_cr &  257.3n \\
average\_current\_comparator\_reset & 252.56n \\
         average\_current\_counter & 4.5026n \\
             average\_current\_dac & 202.31p \\
       average\_current\_logic\_dac & 696.76p \\
       average\_current\_logic\_rlc &   73.4n \\
 average\_current\_logic\_rlc\_reset & 51.721n \\
     average\_current\_multiplexer & 34.328p \\
           average\_total\_current & 810.47n \\
             average\_total\_power & 972.54n \\
\bottomrule
\end{tabular}

/tmp/ipykernel_10908/4255117356.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  text=sdf.to_latex(index=False)